@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import "fonts/fonts.css";
@import "abstract/_variables.css";

h1{
    font-family: "Luciole";
    font-size: var(--typescale-h1);
}

h2{
    font-family: "Luciole";
    font-size: var(--typescale-h2);
}

h3{
    font-family: "Luciole";
    font-size: var(--typescale-h3);
}

h4{
    font-family: "Luciole";
    font-size: var(--typescale-h4);
}

h5{
    font-family: "Luciole";
    font-size: var(--typescale-h5);
}

p{
    font-family: "Archivo";
    font-size: var(--typescale-text);
}

.fondVisiteur{
    background-color: var(--fondVisiteurMembre);

}

.fondPro{
    background-color: var(--fontPro);
}

.apercuOffrePC{
    margin: 100px;
    width: 600px;
    height: 550px;

    border-radius: 20px;
    background-color: white;
    padding: 40px;

    overflow: hidden;
}

.apercuOffrePC .conteneurSVGtexte{
    display: flex;
    align-items: center;
}
.apercuOffrePC .conteneurSVGtexte img{
    width: 25px;
    height: 25px;
}

.apercuOffrePC .conteneurSVGtexte p{
    font-size: 16px;
}

.conteneurElementGaucheDroite{            /*un conteneur qui contient 2 éléments, le 1er est aligné à gauche du conteneur, l'autre à droite*/
    display: flex;
    justify-content: space-between;
}

.conteneurElementGaucheDroite .ouvert{
    color: var(--vertNormal);
}

.apercuOffrePC img{
    width: 525px;
    height: 200px;
    object-fit: cover;
}

.etoiles{
    display: flex;
    align-items: center;
}

.etoiles img{
    width: 20px;
    height: 20px;
}
