@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import "fonts/fonts.css";
@import "abstract/_variables.css";

h1{
    font-family: "Luciole";
    font-size: var(--typescale-h1);
}

h2{
    font-family: "Luciole";
    font-size: var(--typescale-h2);
}

h3{
    font-family: "Luciole";
    font-size: var(--typescale-h3);
}

h4{
    font-family: "Luciole";
    font-size: var(--typescale-h4);
}

h5{
    font-family: "Luciole";
    font-size: var(--typescale-h5);
}

p{
    font-family: "Archivo";
    font-size: var(--typescale-text);
}

.fondVisiteur{
    background-color: var(--fondVisiteurMembre);

}

.fondPro{
    background-color: var(--fontPro);
}


/*-------------/ apercu offre PC /--------------*/


.apercuOffrePC{
    margin: 100px;
    width: 600px;
    height: 550px;

    border-radius: 20px;
    background-color: white;
    padding: 20px 40px;

    overflow: hidden;
}

.apercuOffrePC .conteneurSVGtexte{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.apercuOffrePC .conteneurSVGtexte img{
    width: 25px;
    height: 25px;
}

.apercuOffrePC .conteneurSVGtexte p{
    font-size: 16px;
}

.conteneurSpaceBetween{                         /* un conteneur pour mettre les éléments en space between */   
    display: flex;
    justify-content: space-between;
}

.conteneurSpaceBetween .ouvert{
    color: var(--accent);
}

.apercuOffrePC img{
    width: 525px;
    height: 200px;
    object-fit: cover;
}

.etoiles{
    display: flex;
    align-items: center;
}

.etoiles img{
    width: 20px;
    height: 20px;
}

.etoileMoitiePleine{
    position: relative;
}

/*-------------/ HEADER /--------------*/

nav,ul,a{
    display: flex;
}

a > img {
    width: 63px;
    height: 63px;
}

nav > img {
    width: 135px;
    height: 75px;
}

li {
    padding: 12px;
    border-left: 1px solid;
    border-right: 1px solid;
}


/*-------------/ MAIN /--------------*/

rect{
    fill: var(--secondary);
}







/* -------------/  CLASSES  /------------- */

.rectangleTitre{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    
}