:root{

    /* Couleurs */

    --primary : #004AAD;
    --primaryDark : #1F2B3A;
    --primaryLight : #357FE1;

    --secondary : #E88C2F;
    --secondaryDark : #A85706;

    --accent : #6C9243;
    --accentDark : #41700E;
    --accentLight : #8CCF42;

    --fondVisiteurMembre : #CADFFB;
    --fondPro : #F1BA82;

    --grisClair  : #D9D9D9;
    --rouge : red;
    --jauneEtoile : #DFDF11;


    /* Textes */

    --typescale-h1: 4rem; /* 64px */
    --typescale-h2: 3.125rem; /* 50px */
    --typescale-h3: 2.813rem; /* 45px */
    --typescale-h4: 2rem; /* 32px */
    --typescale-h5: 1.313; /* 21px */
    --typescale-large-text: 2.125rem; /* 34px */
    --typescale-text: 1.5rem; /* 24px */
    --typescale-small-text: 1rem; /* 16px */
}