:root{

    /* Couleurs */

    --bleuNormal : #004AAD;
    --bleuSombre : #1F2B3A;
    --bleuClair : #357FE1;

    --orangeNormal : #E88C2F;
    --orangeSombre : #A85706;

    --vertNormal : #6C9243;
    --vertSombre : #41700E;
    --verClair : #8CCF42;

    --fondVisiteurMembre : #CADFFB;
    --fondPro : #F1BA82;

    --grisClair  : #D9D9D9;
    --rouge : red;


    /* Textes */

    --typescale-h1: 4rem;
    --typescale-h2: 3.125rem;
    --typescale-h3: 2.813rem;
    --typescale-h4: 2rem;
    --typescale-h5: 1.313;
    --typescale-text: 1.5rem;
    --typescale-small-text: 1rem;
}