@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import "fonts/fonts.css";
@import "abstract/_variables.css";

h1{
    font-family: "Luciole";
    font-size: var(--typescale-h1);
}

h2{
    font-family: "Luciole";
    font-size: var(--typescale-h2);
}

h3{
    font-family: "Luciole";
    font-size: var(--typescale-h3);
}

h4{
    font-family: "Luciole";
    font-size: var(--typescale-h4);
}

h5{
    font-family: "Luciole";
    font-size: var(--typescale-h5);
}

p{
    font-family: "Archivo";
    font-size: var(--typescale-text);
}

.fondVisiteur{
    background-color: var(--fondVisiteurMembre);

}

.fondPro{
    background-color: var(--fondPro);
}

/* -------------/  CLASSES  /------------- */

/* textes */
.texteLarge{
    font-size: var(--typescale-large-text);
}

.texteSmall{
    font-size: var(--typescale-small-text);
}

.boldArchivo{
    font-family: "Archivo-bold";
}

.italicArchivo{
    font-family: "Archivo-italic";
}

.boldItalicArchivo{
    font-family: "Archivo-bold-italic";
}

.boldLuciole{
    font-family: "Luciole-bold";
}


/* rectangle */
.rectangleTitre{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.rectangleTitre > h2{
    margin-left: 1%;
}


/* boutons */

.coMembre, .coPro, .nouvCompte{
    width: 541px;
    height: 159px;
    margin-left: 2%;
    border-radius: 15px;
}

.coMembre p, .coMembre h3, .coPro p, .coPro h3, .nouvCompte p, .nouvCompte h3{
    color: white;
}

.coMembre svg, .coPro svg, .nouvCompte svg{
    width: 100px;
    height: 100px;
    stroke-width: 6px;
}

.coMembre hr, .coPro hr, .nouvCompte hr{
    rotate: 90deg;
    width: 101px;
    height: 9px;
    border: none;
    border-radius: 25px;
}

.coMembre hr{
    background-color: var(--primaryDark);
}

.coPro hr{
    background-color: var(--secondaryDark);    
}

.nouvCompte hr{
    background-color: var(--accentDark);
}

.coMembre > div, .coPro > div, .nouvCompte > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.coMembre > div > div, .coPro > div > div, .nouvCompte > div > div{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.coMembre > div > div + div, .coPro > div > div + div, .nouvCompte > div > div + div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coMembre{
    border: var(--primaryDark) solid 6px;
    background-color: var(--primary);
}

.coPro{
    border: var(--secondaryDark) solid 6px;
    background-color: var(--secondary);
}

.nouvCompte{
    border: var(--accentDark) solid 6px;
    background-color: var(--accent);
    padding-right: 2%;
}



@media screen and (max-width : 1440px){
    .coMembre{
        width: 385.12px;
        height: 100px;
        margin-left: 2%;
        border-radius: 10px;
        border: var(--primaryDark) solid 4px;
        background-color: var(--primary);
        color: white;
    }

    .coMembre > div, .coPro > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .coMembre > div > div{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .coPro{
        width: 385.12px;
        height: 100px;
        margin-left: 2%;
        border-radius: 10px;
        border: var(--secondaryDark) solid 4px;
        background-color: var(--secondary);
        color: white;
    }

    .coPro > div > div{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .nouvCompte{
        width: 385.12px;
        height: 100px;
        margin-left: 2%;
        border-radius: 10px;
        border: var(--accentDark) solid 4px;
        background-color: var(--accent);
        color: white;
    }

    .nouvCompte > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

/* filtre */
/* .filtrer{

} */

/*-------------/ apercu offre /--------------*/

.lienApercuOffre{
    width: fit-content;
    height: fit-content;
    margin: 5px;
    text-decoration: none;
    color: black;
}
.apercuOffre{
    width: 600px;
    height: 550px;

    border-radius: 20px;
    background-color: white;
    padding: 20px 40px;

    overflow: hidden;
}

.apercuOffre .conteneurSVGtexte{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.apercuOffre .conteneurSVGtexte img{
    width: 25px;
    height: 25px;
}

.apercuOffre .conteneurSVGtexte p{
    font-size: 16px;
}

.conteneurSpaceBetween{                         /* un conteneur pour mettre les éléments en space between */   
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.conteneurSpaceBetween .ouvert{
    color: var(--accent);
}

.conteneurSpaceBetween .fermeBientot{
    color: var(--secondary);
}

.conteneurSpaceBetween .ferme{
    color: var(--rouge);
}

.apercuOffre img{
    width: 525px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.apercuOffre .conteneurImage{
    position: relative;
    display: inline-block;
}

.text-overlay {
    font-family: "Archivo";
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background-color: var(--primaryDark);
    color: white; 
    font-size: 14px;
    z-index: 10;
  }


.etoiles{
    display: flex;
    align-items: center;
}

.etoiles img{
    width: 20px;
    height: 20px;
}

.etoileMoitiePleine{
    position: relative;
}


.miseEnExergue{
    border: 5px solid rgb(255, 219, 90);
}

@media screen and (max-width : 428px){
    .apercuOffre{
        width: 185px;
        height: 240px;
    
        border-radius: 20px;
        background-color: white;
        padding: 5px 10px;
    
        overflow: hidden;
    }

    .apercuOffre .conteneurSVGtexte{
        margin: 5px 0px;
    }


    .apercuOffre h3{
        font-size: 1em;
    }

    .apercuOffre .conteneurSVGtexte img{
        width: 15px;
        height: 15px;
    }

    .apercuOffre .conteneurSVGtexte p{
        font-size: 10px;
    }

    .apercuOffre p{
        font-size: 10px;
    }

    .apercuOffre img{
        width: 170px;
        height: 90px;
        object-fit: cover;
        display: block;
    }

    .text-overlay {
        font-family: "Archivo";
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 5px;
        background-color: var(--primaryDark);
        color: white; 
        font-size: 0.7em;
        z-index: 10;
        width: 70px;
        height: 20px;
      }

      .etoiles img{
        width: 10px;
        height: 10px;
    }

    .apercuOffre .resumeApercu{
        font-size: 0.55em;
    }
}

/*-------------/ page détail offre /--------------*/
.conteneurOffre{
    display: flex;
    justify-content: center;
}

.offre{
    margin: 20px;
    background-color: white;
    border-radius: 40px;
    width: 1000px;
    height: fit-content;
    padding: 40px;
}

.offre .conteneurSVGtexte{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.offre .conteneurSVGtexte img{
    width: 40px;
    height: 40px;
}

.offre .noteDetailOffre{
    display: flex;
    justify-content: center;
}

.offre .noteDetailOffre p{
    margin-left: 20px;
}

.offre .noteDetailOffre .etoiles p{
    margin-left: 0px;
}

.offre .imgChg{
    margin: 0px;
    padding: 0px;
    height: 390px;
}

.offre .imgChg img{
    border-radius: 15px 15px 0px 0px;
    width: 920px;
    height: 390px;
    object-fit: cover;
    margin: 0px;
}

.offre .resumePrixDetailOffre{
    margin: 0px;
    width: 920px;
    padding: 15px;
    height: fit-content;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--primaryDark);
    text-align: center;
}

.offre .resumePrixDetailOffre hr{
    margin: 10px 15px;
}

.offre .resumePrixDetailOffre p{
    font-size: 1em;
    color: white;
}

.offre #descriptionOffre{
    margin: 30px 0px;
}

.offre #partieTags img{
    margin-right: 10px;
}

.offre #partieTags #conteneurTagsOffre{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.offre #partieTags{
    width: 450px;
}

.offre #conteneurTagsHoraires{
    align-items: baseline;
}

.offre .conteneurSpaceBetween hr{
    height: 3px;
    background-color: black;
}

.offre .tagOffre{
    padding: 10px 10px 7px;               /* ça rends moins bien si je mets juste 10px partout */
    font-size: 1.3em;
    border: 1px solid black;
    border-radius: 70px;
    margin: 0px 10px 10px;
}

.offre #partieHoraires{
    width: 400px;
}
.offre #conteneurJoursOffre{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.offre .jour{
    border: 2px solid black;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 8px 0px;
    margin: 0px 5px;
}

.offre .jourOuvert{
    border-color: var(--primaryDark);
    background-color: var(--primaryDark);
    color: white;
}

.offre #conteneurPlagesHoraires{
    margin: 30px 10px;
}

.offre #conteneurPlagesHoraires .horaireEncadre{
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 8px 7px;
}

.offre #itineraire{
    width: fit-content;
    text-decoration: none;
    background-color: var(--primaryDark);
    border-radius: 30px;
    padding: 15px;
    color: white;
}


/*-------------/ HEADER /--------------*/

.navHeader{
    min-width: 1440px;
    background-color: #fff;
}

.navHeader,.ulHeader,.aHeader{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.aHeader > img {
    width: 63px;
    height: 63px;
}

.logoHeader{
    width: 135px;
    height: 75px;
    padding-left: 12px;
    padding-right: 12px;
}

.liHeader {
    list-style: none;
    padding: 12px;
    border-left: 1px solid;
    border-right: 1px solid;
}

.aHeader {
    outline: none;
    text-decoration: none;
  }
  
.aHeader:link {
    color: #000000;
  }
  
.aHeader:visited {
    color: #000000;
  }

.aHeader > h3 {
    margin: 0;
}


/*-------------/ MAIN /--------------*/

rect{
    fill: var(--secondary);
}


/*-------------/ FOOTER /--------------*/

.footer {
    background-color: #fff;
    color: #333;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    max-height: 200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h4 {
    color: #f39c12;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}
.footer-section p {
    font-size: 14px;
}
.footer-section ul li a {
    color: #333;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    color: #777;
}

.footer-bottom p {
    margin: 0;

}






