@import "../style.css";

main{
    padding: 60px;
}
h1{
    border-left: 20px solid var(--secondary);
    padding-left: 20px;
}

#conteneurOffres{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#conteneurOffres>article{
    display: flex;
    flex-wrap: wrap;
}

#conteneurOffres .lienApercuOffre{
    margin: 20px;
}


@media screen and (max-width : 428px)
{
    #conteneurOffres>article{
        display: block;
    }
    #conteneurOffres .lienApercuOffre{
        margin: 10px;
    }
}