@import "../style.css";

main{
    padding: 0px;
}
main h1{
    border-left: 20px solid var(--secondary);
    padding-left: 20px;
    margin-left: 10px;
}

#conteneurOffres{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#conteneurOffres .lienApercuOffre{
    margin: 30px;
}

#conteneurOffres>article{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width : 428px)
{
    main{
        padding: 10px;
    }
    #conteneurOffres>article{
        display: block;
    }
    #conteneurOffres .lienApercuOffre{
        margin: 10px;
    }

    main>h1{
        font-size: 2em;
        border-left: 10px solid var(--secondary);
        padding-left: 10px;
        margin-left: 5px;
    }

    #logoTitreMobile{
        width: 200px;
        height: auto;
        transform: translate(30px, -25px);
    }
}