@import "../style.css";

main{
    padding: 0px;
}

main h1{
    border-left: 20px solid var(--secondary);
    padding-left: 20px;
    margin: 20px;
}

.titreOffre{
    font-size: var(--typescale-h1);
    border-left: 20px solid var(--secondary);
    padding-left: 20px;
    margin-left: 10px;
}

.mainAvis{
    display: flex;
    justify-content: center;
}

.mainAvisPro{
    display: block;
}

.conteneurAvis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-top: 50px;
}

.avis{
    margin: 15px;
    background-color: white;
    border-radius: 40px;
    height: fit-content;
    padding: 40px;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.avis .datePublication{
    display: none;
}

.avis .conteneurMembreAvis{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.avis .conteneurMembreAvis img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avis .conteneurMembreAvis .infoMembreAvis{
    display: block;
    margin-left: 20px;
}

.avis .conteneurMembreAvis .infoMembreAvis h3{
    font-size: var(--typescale-h5);
}

.avis .conteneurMembreAvis .infoMembreAvis p{
    font-size: var(--typescale-small-text);
}

.avis .titreAvis{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: var(--typescale-h4);
}

.avis .conteneurAvisTexte{
    margin-top: 20px;
    margin-bottom: 30px;
}

.avis .conteneurAvisTexte p{
    font-size: var(--typescale-text);
}

.avis .conteneurAvisImage{
    margin-top: 40px;
}

.avis .conteneurAvisImage img{
    border: 2px solid black;
}

.circular-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden; /* Cache tout ce qui dépasse */
}

#btnTrieDate{
    display: flex;
    background-color: white;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

#iconeTrieDate{
    width: 40px;
}

#iconeTrieDate1{
    width: 40px;
}

#iconeTrieDate2{
    width: 40px;
}

#txtBtnDate{
    user-select: none;
}

@media screen and (max-width : 428px){
    .titrePrincipale{
        font-size: var(--typescale-h1);
    }

    .conteneurAvis{
        margin-top: 2.4em;
        padding-bottom: 30px;
    }

    .avis{
        margin: 20px;
        padding: 10px;
        border-radius: 40px;
        width: 350px;
    }

    .avis .titreAvis{
        font-size: var(--typescale-h5);
    }

    .avis .conteneurAvisTexte p{
        font-size: var(--typescale-small-text);
    }

    .avis .conteneurAvisImage{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .titreOffre{
        font-size: var(--typescale-h2);
    }
}