.textBulle{
    width: 450px;
    height: 120px;
    border: var(--primaryLight) solid 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    background-color: white;
    margin: 3%;
    position: relative;
}

.textBulle > p{
    font-size: var(--typescale-large-text);
}

.textBulle + div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

div:has(> .fakeDiv){
    position: relative;
    bottom: 100px;
}

.fakeDiv{
    width: 541px;
    height: 159px;
    margin-left: 2%;
    stroke-width: 6px;
}

.pageChoixCo > hr{
    width: 1257px;
    height: 6px;
    background-color: black;
    border-radius: 100px;
    margin: 3% auto;
}

.btnDeconnexion{
    background-color: #D80303;
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15% 10%;
    border: none;
}

.btnDeconnexion:hover{
    cursor: pointer;
}

.btnDeconnexion p{
    width: 100%;
    color: white;
    text-align: center;
}

.btnDeconnexion svg{
    width: 35px;
    height: 35px;
}


/* Si profesionnel */

.popUpDeco{
    display: none;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
}

.popUpDeco div{
    width: 323px;
    height: 198px;
    border: black solid 1px;
    border-radius: 10px;
}

.popUpDeco div div{
    border: black solid 2px;
    border-radius: 10px;
    width: 74px;
    height: 45px;
}

.btnAnnuler{
    background-color: #C6C6C6;
    color: black;
}

.btnValider{
    background-color: #FF0101;
    color: white;
}

body.no-scroll {
    overflow: hidden;
}

@media screen and (max-width : 428px){

    .textBulle + div{
        flex-direction: column;
    }

    .pageChoixCo > hr{
        width: 330px;
        height: 7px;
        margin: 10% auto;
    }

    .textBulle > p{
        font-size: var(--typescale-text);
    }

    .textBulle span{
        font-size: var(--typescale-small-text);
    }

    .textBulle{
        width: 353px;
        height: 99px;
        padding: 2% 2% 2% 10%;
        margin: 3%;
    }

    hr + .textBulle{
        position: relative;
        border-right: none;
        right: -100px;
    }

    .decaleBulleGauche{
        position: relative;
        left: -30px;
    }

    .fakeDiv{
        display: none;
    }

    div:has(> .fakeDiv){
        position: static;
    }
    
    .pageChoixCo a{
        margin: 3% auto;
    }

}