.textBulle{
    width: 450px;
    height: 120px;
    border: var(--primaryLight) solid 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    background-color: white;
    margin: 3%;
    position: relative;
}

.textBulle > p{
    font-size: var(--typescale-large-text);
}

.textBulle + div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

div:has(> .fakeDiv){
    position: relative;
    bottom: 100px;
}

.fakeDiv{
    width: 541px;
    height: 159px;
    margin-left: 2%;
    stroke-width: 6px;
}

.pageChoixCo > hr{
    width: 1257px;
    height: 6px;
    background-color: black;
    border-radius: 100px;
    margin: 3% auto;
}

/* Si connecté */

.informationsCompte{
    width: 1369px;
    height: 786px;
    border-radius: 40px;
    margin: 6% auto;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.titreLogin{
    font-size: var(--typescale-h3);
}

.informationsCompte > div{
    margin: 0 auto;
}

.infoId{
    display: flex;
    flex-direction: row;
}

.resteInfos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.infoId > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.zoneInfos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.zoneBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.zoneBtn > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zoneBtn > div button{
    margin-bottom: 6%;
}

.image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    object-fit: cover
}


.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; /* Cache tout ce qui dépasse */
    object-fit: cover
}

.infoPrinc {
    position: relative;
    left: 50px;
}


/* Bouton de deconnexion */

.btnDeconnexion{
    background-color: #D80303;
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.btnDeconnexion:hover{
    cursor: pointer;
}

.btnDeconnexion p{
    width: 100%;
    color: white;
    text-align: center;
    padding-right: 4%;
    padding-top: 1%;
}

.btnDeconnexion svg{
    width: 35px;
    height: 35px;
    margin-left: 3%;
}

.btnDeconnexion svg path{
    stroke: white;
    stroke-width: 8px;
}

/* Bouton de suppression de compte */

.btnSupCompte{
    background-color: #D80303;
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.btnSupCompte:hover{
    cursor: pointer;
}

.btnSupCompte p{
    width: 100%;
    color: white;
    text-align: center;
    padding-right: 4%;
    padding-top: 1%;
}

.btnSupCompte svg{
    width: 35px;
    height: 35px;
    margin-left: 3%;
}

.btnSupCompte svg path{
    stroke: white;
    stroke-width: 8px;
}


.popUpDeco{
    display: none;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
}

.popUpDeco > div{
    width: 323px;
    height: 198px;
    border: black solid 1px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2%;
}

.popUpDeco button {
    border: black solid 2px;
    border-radius: 10px;
    width: 74px;
    height: 45px;
    font-family: "Archivo";
    font-size: var(--typescale-text);
    margin: 1% 3%;
    cursor: pointer;
}

.popUpDeco > div > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btnAnnuler{
    background-color: #C6C6C6;
    color: black;
}

.btnValider{
    background-color: #FF0101;
    color: white;
}

body.no-scroll {
    overflow: hidden;
}

/* Bouton de modification profil */

.btnModifCompte{
    background-color: var(--accent);
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.btnModifCompte:hover{
    cursor: pointer;
}

.btnModifCompte p{
    width: 100%;
    color: white;
    text-align: center;
    padding-right: 4%;
    padding-top: 1%;
}

.btnModifCompte svg{
    width: 35px;
    height: 35px;
    margin-left: 3%;
}

.btnModifCompte svg path{
    stroke: white;
    stroke-width: 8px;
}

/* Bouton de récuperation de données */

.btnDataCompte{
    background-color: var(--accent);
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.btnDataCompte:hover{
    cursor: pointer;
}

.btnDataCompte p{
    width: 100%;
    color: white;
    text-align: center;
    padding-right: 4%;
    padding-top: 1%;
}

.btnDataCompte svg{
    width: 35px;
    height: 35px;
    margin-left: 3%;
}

.btnDataCompte svg path{
    stroke: white;
    stroke-width: 8px;
}

/* Bouton de données bancaires */

.btnDataBanc{
    background-color: var(--primaryLight);
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.btnDataBanc:hover{
    cursor: pointer;
}

.btnDataBanc p{
    width: 100%;
    color: white;
    text-align: center;
    padding-right: 4%;
    padding-top: 1%;
}

.btnDataBanc svg{
    width: 35px;
    height: 35px;
    margin-left: 3%;
}

.btnDataBanc svg path{
    stroke: white;
    stroke-width: 8px;
}

.btnDataBanc{
    background-color: var(--primaryLight);
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.btnDataBanc{
    background-color: var(--primaryLight);
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

/* affichage du bouton facture */

.btnAccesFacture:hover{
    cursor: pointer;
}

.btnAccesFacture p{
    width: 100%;
    color: white;
    text-align: center;
    padding-right: 4%;
    padding-top: 1%;
}

.btnAccesFacture svg{
    width: 35px;
    height: 35px;
    margin-left: 3%;
}

.btnAccesFacture svg path{
    stroke: white;
    stroke-width: 8px;
}

.btnAccesFacture{
    background-color: var(--primaryLight);
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.btnAccesFacture a{
    text-decoration: none;
    width: 100%;
    color: white;
    text-align: center;
    padding-right: 4%;
    /* padding-top: 1%; */
}

.resizeShow{
    display: none;
}


/* Bouton du détail du montant à payer */

.btnDetailPrix{
    /*background-color: var(--primaryLight);*/
    width: 486px;
    height: 50px;
    border-radius: 48px;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: none;*/
    border: solid;
    border-width: 1px;
}

.btnDetailPrix:hover{
    cursor: pointer;
}

.btnDetailPrix p{
    width: 100%;
    /*color: white;*/
    text-align: center;
    padding-right: 4%;
    padding-top: 1%;
}

.resizeShow{
    display: none;
}

@media screen and (max-width : 428px){

    #conteneurTitreMobile{
        margin: 3% 0 0 2%;
    }
    
    .textBulle + div{
        flex-direction: column;
    }
    
    .pageChoixCo > hr{
        width: 330px;
        height: 7px;
        margin: 10% auto;
    }
    
    .textBulle > p{
        font-size: var(--typescale-text);
    }
    
    .textBulle span{
        font-size: var(--typescale-small-text);
    }
    
    .textBulle{
        width: 353px;
        height: 99px;
        padding: 2% 2% 2% 10%;
        margin: 3%;
    }
    
    hr + .textBulle{
        position: relative;
        border-right: none;
        width: 243px;
        right: -172px;
        border-radius: 10px 0 0 10px;
    }
    
    .decaleBulleGauche{
        position: relative;
        left: -30px;
    }

    .fakeDiv{
        display: none;
    }

    div:has(> .fakeDiv){
        position: static;
    }
    
    .pageChoixCo a{
        margin: 3% auto;
    }


    /* Si professionel */

    .btnDeconnexion{
        width: 413px;
        height: 74px;
        padding: 0 7%;
        margin: 2% auto;
    }

    .btnDeconnexion p{
        color: black;
        padding-right: 8%;
        padding-top: 0.5%;
    }
    
    .btnDeconnexion svg{
        width: 60px;
        height: 55px;
    }

    .btnDeconnexion svg path{
        stroke: black;
    }

    .btnDataBanc, .btnModifCompte, .btnSupCompte{
        display: none;
    }

    .btnDataCompte{
        background-color: white;
        width: 411px;
        height: 73px;
    }

    .btnDataCompte p{
        color: black;
    }

    .btnDataCompte svg path{
        stroke: black;
    }

    .informationsCompte{
        background-color: transparent;
        flex-direction: column;
        width: fit-content;
        height: 610px;
        margin: 0 auto;
    }

    .informationsCompte > div{
        width: 415px;
        margin: 3% auto;
    }

    .btnDataCompte svg{
        width: 57px;
        height: 57px;
    }

    .btnDataCompte p{
        font-size: var(--typescale-text);
        width: 80%;
    }

    .infoId{
        background-color: white;
        border-radius: 48px;
        height: 164px;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        width: 100%;
        justify-content: center;
        padding: 1% 6% 0 0;
    }

    .infoId > div{
        margin-left: 4%;
        margin-bottom: 13%;
    }

    .infoId + div + div{
        display: none;
    }

    .image-container{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden; /* Cache les parties de l'image qui dépassent */
        margin-left: 2%;
    }

    .zoneBtn{
        flex-grow: 1;
        justify-content: space-between;
    }

    .titreLogin{
        font-size: var(--typescale-text);
    }

    .resizeShow{
        display: block;
    }

    .resizeHide{
        display: none;
    }

    .deroulement{
        border-radius: 48px 48px 0 0;
    }

    .menuDeplie{
        display: flex;
        position: absolute;
        top: 330px;
        z-index: 1;
        width: 415px;
        height: 450px;
        background-color: white;
        border-radius: 0 0 48px 48px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 6%;
    }

    .btnDeplie svg{
        width: 65px;
        height: 65px;
        position: absolute;
    }

    .btnDeplie{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        position: absolute;
        right: 6%;
        bottom: 6%;
    }

    .fleche2{
        transform: rotate(180deg);
        top: 10px;
    }

    .rotate180{
        transform: rotate(180deg);
    }

    .zoneInfosPort{
        padding: 0 0 0 5%;
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .btnModifPort{
        width: 393px;
        height: 42px;
        background-color: #E1E1E1;
        border: black solid 2px;
        border-radius: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
    }

    .btnModifPort p {
        color: black;
        text-align: center;
        margin: 1% 4% 0 0;
    }

    .btnModifPort svg{
        width: 30px;
        height: 30px;
    }

    .btnSupPort{
        width: 393px;
        height: 74px;
        background-color: #ED6666;
        border-radius: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
    }

    .btnSupPort p {
        color: black;
        text-align: center;
        margin: 1% 8% 0 0;
    }

    .btnSupPort svg{
        width: 50px;
        height: 50px;
    }

    .zoneBtnPort{
        margin-top: 4%;
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .infoPrinc {
        left: 0;
    }

}

/* Style pour la pop-up */
.popUpModif {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

#popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#popup-content h2 {
    margin-bottom: 10px;
}

#popup-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#popup-content button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#popup-content button:hover {
    background-color: #218838;
}