.textBulle{
    background-color: white;
    width: 674px;
    height: 82px;
    border: var(--primaryLight) solid 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 3%;
    position: relative;
    left: -30px;
    top: 20px;
    margin: 0 0 50px 0;
}

form input{
    width: 847px;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding: 0 2%;
    font-size: var(--typescale-text);
}

form{
    margin: 0 auto;
    width: fit-content;
    margin: 0 auto;
}

form div{
    margin-top: 3%;
}

form > div + a{
    margin-top: 1%;
    position: absolute;
    right: 27%;
}

.accepteSouvenir{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-top: 4%;
}

input[type="checkbox"]{
    width: 35px;
    height: 35px;
    margin-right: 1%;
}

.btnAnnuler, .btnConfirmer{
    border-radius: 25px;
    width: 320px;
    height: 88px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    margin-top: 3%;
    cursor: pointer;
    border: none;
}

.btnAnnuler > svg{
    width: 40px;
    height: 40px;
}

.btnAnnuler{
    background-color: red;
}

.btnConfirmer{
    background-color: var(--accentDark);
}

.zoneBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}

.btnConfirmer svg{
    width: 42px;
    height: 31.07px;
}