.textBulle{
    background-color: white;
    width: 674px;
    height: 82px;
    border: var(--primaryLight) solid 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 3%;
    position: relative;
    left: -30px;
    top: 20px;
    margin: 0 0 50px 0;
}

form input{
    width: 847px;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding: 0 2%;
    font-size: var(--typescale-text);
}

form{
    margin: 0 auto;
    width: fit-content;
    margin: 0 auto;
}

form div{
    margin-top: 3%;
}

form div p{
    font-size: var(--typescale-large-text);
}

form > div + a{
    margin-top: 1%;
    position: absolute;
    right: 25%;
}

.accepteSouvenir{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-top: 4%;
}

input[type="checkbox"]{
    width: 35px;
    height: 35px;
    margin-right: 1%;
}

.btnAnnuler, .btnConfirmer{
    border-radius: 25px;
    width: 320px;
    height: 60px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    margin-top: 3%;
    cursor: pointer;
    border: none;
}

.btnAnnuler > svg{
    width: 40px;
    height: 40px;
}

.btnAnnuler{
    background-color: red;
}

.btnConfirmer{
    background-color: var(--accentDark);
}

.zoneBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}

.btnConfirmer svg{
    width: 42px;
    height: 31.07px;
}

/* POP-UP si correct */
.popUp{
    display: none;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
}

.popUp > div{
    background-color: white;
    border-radius: 20px;
    width: 700px;
    height: 300px;
    border: var(--accent) solid 2px;
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    width: fit-content;
    margin-bottom: 3%;
}

body.no-scroll {
    overflow: hidden;
}

@media screen and (max-width : 428px){
    header div h4{
        width: fit-content;
    }

    .textBulle{
        display: none;
    }

    form div{
        margin-top: 5%;
    }

    form div p{
        font-size: var(--typescale-text);
        font-family: "Archivo-bold";
    }

    form input{
        width: 385.12px;
        height: 61px;
        padding: 0 2%;
    }

    .zoneBtn{
        margin: 1% auto 3% auto;
    }

    .btnConfirmer, .btnAnnuler{
        width: 170px;
        height: 60px;
        border-radius: 15px;
    }

    .btnConfirmer svg{
        width: 35px;
        height: 27px;
    }

    .btnAnnuler svg{
        width: 30px;
        height: 30px;
    }

    .btnConfirmer p, .btnAnnuler p{
        font-size: var(--typescale-text);
    }
}