body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.contentFacture {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 5%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

header h2 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

.detailFacture {
    margin-bottom: 20px;
}

.detailFacture p {
    margin: 0;
    font-size: 14px;
}

.tableFacture {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tableFacture th,
.tableFacture td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.tableFacture th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.tableFacture tfoot td {
    font-weight: bold;
    background-color: #f9f9f9;
}

.tableFacture .espaceVide{
    background-color: #555;
}
