form{
    margin-top: 10px;
    margin-bottom: 80px;
}

#conteneurTitreForm{
    width: 100%;
}

#conteneurTitreForm h3{
    border-left: 20px solid var(--secondary);
    padding-left: 15px;
}

#conteneurTitreForm p{
    margin: 25px 0px;
}

.champs input, .champs textarea{
    font-size: var(--typescale-text);
}

#titre{
    width: 450px;
}

#conteneurNote{
    display: flex;
    align-items: center;
}

#note{
    width: 65px;
}

#conteneurNote p{
    margin-left: 5px;
}
#conteneurNote img{
    height: 25px;
    margin-left: 2px;
    transform: translateY(-2px);
}

#commentaire{
    height: 100px;
    font-family: "Archivo";

}

#conteneurContexteDate{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

#menuContexte{
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    padding-left: 0px;
    width: fit-content;
}

#menuContexte .conteneurSVGtexte{
    display: flex;
    align-items: center;
}

#menuContexte .conteneurSVGtexte img{
    transform: rotate(180deg);
}

#menuContexte .conteneurSVGtexte:hover{
    cursor: pointer;
}


#conteneurContexteDate #conteneurOptionsContexte{
    display: none;
}

#conteneurOptionsContexte p{
    padding: 10px;
}

#conteneurOptionsContexte p:hover{
    background-color: var(--grisClair);
    cursor: pointer;
}

#conteneurContexteDate .deplie #conteneurOptionsContexte{
    display: block;
    height: fit-content;
}

#conteneurContexteDate .champs{
    width: 45%;
}

.deplie .conteneurSVGtexte img{
    transform: rotate(0deg) !important;
}

#menuContexte img{
    width: 45px;
    padding: 0px;
    margin: 0px;
}

#dateExperience{
    width: fit-content;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    font-family: "Archivo";
}

#conteneurConfirmation label{
    font-size: var(--typescale-small-text);
}

#selectPhoto{
    margin-top: 20px;
}

@media screen and (max-width : 428px){
    #titre{
        width: 100%;
    }

    #commentaire{
        height: 155px;
    }

    #conteneurContexteDate{
        display: block;
    }

    #conteneurContexteDate .champs{
        width: 100%;
    }

    #menuContexte{
        width: fit-content;
    }
}