/* corps de la page */
@import "../style.css";

main{
    display: flex;
    justify-content: center;
    font-family: "archivo";
}

.conteneur-formulaire {
    width: 80%;
    max-width: 1000px;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
    font-size: var(--typescale-h4); 
    margin-bottom: 40px;
}

form{
    padding: 30px;
}

div {
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: var(--typescale-text); 
    margin-right: 10px;
    align-self: center;
}

input{
    width: 40%; 
    border-radius: 5%;
    border: 1px solid #ccc;
    font-size: 18px; 
    box-sizing: border-box;
    padding: 10px;
}

textarea {
    resize: none;
    height: 200px;
    width: 70%;
    border-radius: 5%;
    border: 1px solid #ccc;
    font-size: 18px; 
    box-sizing: border-box;
}

#description, #resume{
    padding: 10px;
}

select{
    width: 35%; 
    height: 2.5em;
    padding-left: 10px;
    border-radius: 5%;
    border: 1px solid #ccc;
    font-size: var(--typescale-small-text); 
    box-sizing: border-box;
}

.haut-de-page{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.haut-de-page>div{
    display: flex;
    flex-direction: row;
}

.champs{
    display: flex;
    padding-top: 10px;
}

.required {
    color: red;
}

.jours {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 60%;
}

.jours button {
    background-color: #fff;
    border: 2px solid #000;
    padding: 15px;
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.jours button:hover {
    background-color: #f0f0f0;
}

.heures {
    display: flex;
    align-items: center;
    /*justify-content: space-between;
    max-width: 30%;*/
}

.heures label {
    font-size: 18px;
}

.heures input {
    width: auto;
    padding: 8px;
    font-size: 16px; 
}

.champsAdresse{
    display: flex;
}

.champsAdresse>input{
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 5%;
    border: 1px solid #ccc;
    font-size: 16px; 
    box-sizing: border-box;
}

#num{
    width: 10%; 
}

#nomRue{
    width: 35%; 
}

#ville{
    width: 25%; 
}

#codePostal{
    width: 13%; 
}

.btnAnnuler, .btnConfirmer{
    border-radius: 25px;
    width: 320px;
    height: 88px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    margin-top: 3%;
    cursor: pointer;
    border: none;
}

.btnAnnuler > svg{
    width: 40px;
    height: 40px;
}

.btnAnnuler{
    background-color: red;
}

.btnConfirmer{
    background-color: var(--accentDark);
}

.zoneBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}

.btnConfirmer svg{
    width: 42px;
    height: 31.07px;
}


#popup{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* partie horaires */

.jours .jourOuvert{
    background-color: var(--primaryDark);
    color: white;
}

.jours .jourOuvert:hover{
    background-color: var(--primaryDark);
}

.jours .jourSelectionne{
    background-color: var(--primaryDark);
}

.heures{
    display: none;
}

.horairesVisibles{
    display: flex;
}

.heures > label:first-child{
    text-align: start;
}

#btnAjoutHoraire{
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#btnAjoutHoraire:hover{
    cursor: pointer;
}




.parentVisite{
   padding-top: 20px;
   display: flex;
}

.parentVisite > div{
    display: flex;
    flex-direction: row;
}


input[type="checkbox"] {
    -webkit-appearance: none; /* Désactive le style natif pour Chrome/Safari */
    appearance: none; /* Désactive le style natif */
    width: 35px; /* Largeur */
    height: 35px; /* Hauteur */
    background-color: white; /* Couleur de fond par défaut */
    border: 3px solid black; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Pointeur interactif */
    position: relative; /* Nécessaire pour positionner le check */
  }

input[type="checkbox"]:checked::after {
    content: '✔'; /* Symbole de check */
    color: black; /* Couleur du symbole */
    font-size: 25px; /* Taille du symbole */
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="radio"]{
    -webkit-appearance: none; /* Désactive le style natif pour Chrome/Safari */
    appearance: none; /* Désactive le style natif */
    width: 35px; /* Largeur */
    height: 35px; /* Hauteur */
    background-color: white; /* Couleur de fond par défaut */
    border: 3px solid black; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Pointeur interactif */
    position: relative; /* Nécessaire pour positionner le check */
  }


input[type="radio"]:checked::after {
    content: '✔'; /* Symbole de check */
    color: black; /* Couleur du symbole */
    font-size: 25px; /* Taille du symbole */
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* GESTION DES CATEGORIES AFFICHER OU NON */

#champsRestauration{
    display: none;
}

#champsVisite{
    display: none;
}

#champsActivite{
    display: none;
}

#champsPA{
    display: none;
}

#champsSpectacle{
    display:none;
}

#tagsRestauration{
    display: none;
}

#tagsVisite{
    
    display: none;
}

#tagsActivite{
    display: none;
}

#tagsPA{
    display: none;
}

#tagsSpectacle{
    display: none;
}

#dateOption{
    display: none;
}

.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags > div {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#tagsVisite > label{
    padding-bottom: 10px;
}

#tagsActivite > label{
    padding-bottom: 10px;
}

#tagsPA > label{
    padding-bottom: 10px;
}

#tagsSpectacle > label{
    padding-bottom: 10px;
}

#dateOption > label{
    padding-bottom: 10px;
}

#preventionPaiement{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: red ridge 5px;
    border-radius: 10px;
}

