@import "../style.css";
/*-------------/ page détail offre /--------------*/
.mainDetail{
    display: flex;
    justify-content: center;
}

.conteneurOffreAvis{
    display: block;
}

.conteneurOffre{
    display: flex;  
    justify-content: center;
    padding: 0px;
    margin-bottom: 50px;
}

.offre{
    margin: 15px;
    background-color: white;
    border-radius: 40px;
    height: fit-content;
    padding: 40px;
    width: 1000px;
}

.offre p{
    font-size: 1.2em;
}

.offre h2+p{
    font-weight: bold;
}

.offre .conteneurSVGtexte{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.offre .conteneurSVGtexte img{
    width: 40px;
    height: 40px;
}

.offre .noteDetailOffre{
    display: flex;
    justify-content: center;
}

.offre .noteDetailOffre p{
    margin-left: 20px;
}

.offre .noteDetailOffre .etoiles p{
    margin-left: 0px;
}

.offre .imgChg{
    margin: 0px;
    padding: 0px;
    height: 390px;
}

.offre .imgChg img{
    border-radius: 15px 15px 0px 0px;
    width: 920px;
    height: 390px;
    object-fit: cover;
    margin: 0px;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}



.offre .resumePrixDetailOffre{
    margin: 0px;
    width: 920px;
    padding: 15px;
    height: fit-content;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--primaryDark);
    text-align: center;
}

.offre .resumePrixDetailOffre hr{
    margin: 10px 15px;
}

.offre .resumePrixDetailOffre p{
    font-size: 1em;
    color: white;
}

.offre #descriptionOffre{
    margin: 30px 0px;
}

.offre #partieTags img{
    margin-right: 10px;
}

.offre #partieTags #conteneurTagsOffre{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.offre #partieTags{
    width: 450px;
}

.offre #conteneurTagsHoraires{
    align-items: baseline;
}

.offre .conteneurSpaceBetween hr{
    height: 3px;
    background-color: black;
}

.offre .tagOffre{
    padding: 10px 10px 7px;               /* ça rends moins bien si je mets juste 10px partout */
    font-size: 1.3em;
    border: 1px solid black;
    border-radius: 70px;
    margin: 0px 10px 10px;
}

.offre #partieHoraires{
    width: 400px;
}
.offre #conteneurJoursOffre{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.offre .jour{
    border: 2px solid black;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 8px;
    margin: 0px 5px;
}

.offre .jourOuvert{
    border-color: var(--primaryDark);
    background-color: var(--primaryDark);
    color: white;
}

.offre #conteneurPlagesHoraires{
    margin: 30px 10px;
}

.offre #conteneurPlagesHoraires .horaireEncadre{
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 8px 7px;
}

.offre #itineraire{
    width: fit-content;
    text-decoration: none;
    background-color: var(--primaryDark);
    border-radius: 30px;
    padding: 15px;
    color: white;
}

.conteneurAvis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-top: 50px;
}

.avis{
    margin: 15px;
    background-color: white;
    border-radius: 40px;
    height: fit-content;
    padding: 40px;
    width: 1000px;
}

.avis .conteneurMembreAvis{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.avis .conteneurMembreAvis img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avis .conteneurMembreAvis .infoMembreAvis{
    display: block;
    margin-left: 20px;
}

.avis .conteneurMembreAvis .infoMembreAvis h3{
    font-size: var(--typescale-h5);
}

.avis .conteneurMembreAvis .infoMembreAvis p{
    font-size: var(--typescale-small-text);
}

.avis .titreAvis{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: var(--typescale-h4);
}

.avis .conteneurAvisTexte{
    margin-top: 20px;
    margin-bottom: 30px;
}

.avis .conteneurAvisTexte p{
    font-size: var(--typescale-text);
}

.avis .conteneurAvisImage{
    margin-top: 40px;
}

.avis .conteneurAvisImage img{
    border: 2px solid black;
}

.circular-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden; /* Cache tout ce qui dépasse */
}

@media screen and (max-width : 428px){
    .conteneurOffre{
        margin-top: 2.4em;
        padding-bottom: 30px;
    }

    .conteneurAvis{
        margin-top: 2.4em;
        padding-bottom: 30px;
    }

    .offre{
        margin: 0px;
        padding: 10px;
        border-radius: 40px;
        width: 350px;
    }

    .avis{
        margin: 0px;
        padding: 10px;
        border-radius: 40px;
        width: 350px;
    }


    .offre h2{
        font-size: var(--typescale-h4);
    }
    .offre .imgChg{
        height: 150px;
    }
    
    .offre .imgChg img{
        width: 920px;
        height: 150px;
    }

    .offre p{
        font-size: 1em;
    }

    .offre p+.conteneurSpaceBetween{
        display: block;
    }

    .offre .noteDetailOffre{
        display: flex;
        justify-content: start;
    }

    .etoiles img{
        width: 15px;
        height: 15px;
    }

    .offre .resumePrixDetailOffre{
        margin: 0px;
        width: 330px;
        padding: 15px;
        border-radius: 0px 0px 15px 15px;
        background-color: var(--primaryDark);
        text-align: center;
    }
    
    .offre .resumePrixDetailOffre hr{
        margin: 10px 15px;
    }
    
    .offre .resumePrixDetailOffre p{
        font-size: 1em;
        color: white;
    }


    .offre #partieTags img{
        margin-right: 10px;
    }
    
    .offre #partieTags #conteneurTagsOffre{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    
    .offre #partieTags{
        width: 330px;
    }
    
    .offre #conteneurTagsHoraires{
        align-items: baseline;
    }
    
    .offre .conteneurSpaceBetween hr{
        height: 3px;
        background-color: black;
    }
    
    .offre .tagOffre{
        padding: 10px 10px 7px;               /* ça rends moins bien si je mets juste 10px partout */
        font-size: 18px;
        border: 1px solid black;
        border-radius: 70px;
        margin: 0px 10px 10px;
    }
    
    .offre #partieHoraires{
        width: 330px;
    }
    .offre #conteneurJoursOffre{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0px;
    }

    .offre .jour{
        border: 2px solid black;
        border-radius: 100px;
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 8px 0px;
        margin: 0px 3px;
    }

    .offre #conteneurPlagesHoraires .horaireEncadre{
        border: 2px solid black;
        border-radius: 10px;
        padding: 5px 5px 3px;
    }

    .offre h4{
        font-size: 24px;
    }

    .avis .titreAvis{
        font-size: var(--typescale-h5);
    }

    .avis .conteneurAvisTexte p{
        font-size: var(--typescale-small-text);
    }

    .avis .conteneurAvisImage{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}