@import "detailOffre.css";

#mainGestionOffres{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 50px;
}
.conteneurSVGtexte{
    display: flex;
    align-items: center;
}

.conteneurSVGtexte img{
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

#btnAjouterOffre{
    color: black;
    text-decoration: none;
    background-color: white;
    width: 1000px;
    padding: 30px;
    border-radius: 40px;
    margin: 20px 0px;
}

#conteneurBtnOffres{
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
}

h1{
    border-left: 20px solid var(--secondary);
    padding-left: 20px;
    margin: 30px;
}

#separateurOffreGestion{
    height: 3px;
    background-color: black;
    margin: 40px 0px 20px;
}

.enLigne{
    color: var(--accentDark);
}

.horsLigne{
    color: var(--rouge);
}

.btnGestionOffre{
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    width: fit-content;
    padding: 15px;
    margin-right: 40px;
}


.btnGestionOffre img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.btnGestionOffre p{
    font-size: 1.5em;
}


#conteneurBtnGestion{
    margin-top: 20px;
    display: flex;
}

#btnEnHorsLigne{
    cursor: pointer;
}