@import "../style.css";

main{
    padding: 0px;
}
main h1{
    border-left: 20px solid var(--secondary);
    padding-left: 20px;
    margin: 20px;
}

#conteneurOffres{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#conteneurOffres .lienApercuOffre{
    margin: 30px;
}

#conteneurOffres>article{
    display: flex;
    flex-wrap: wrap;
}


#conteneurBarre{
    display: flex;
    justify-content: center;
    margin: 40px 15px;
}

#searchbar{
    width: 800px;
    height: 50px;
    
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 0px 55px;
}

#conteneurBarre label{
    position: relative;
}

#conteneurBarre label::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); 
    width: 35px; 
    height: 35px;
    background: url(../../icones/rechercherSVG.svg) no-repeat center;
    background-size: contain; 
}

#btnTriePrix{
    display: flex;
    background-color: white;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

#iconeTriePrix{
    width: 40px;
}

#txtBtnPrix{
    user-select: none;
}

/* Filtrer */

.filtrerBarre{
    background-color: white;
    width: 390px;
    height: 65px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10%;
}

.filtreHead{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    cursor: pointer;
}

.filtreHead svg{
    width: 40.34px;
    height: 39.39px;
}

.filtreHead p{
    margin: 1% 9% 0 0;
}

.filtreGrand{
    background-color: white;
    width: 1170px;
    height: 610px;
    position: absolute;
    top: 60px;
    z-index: 3;
    border-radius: 0 48px 48px 48px;
}

.changeBordure{
    border-radius: 48px 48px 0 0;
}

/* Quand le filtre est déplié */

.filtreDeplie{
    padding: 5% 10%;
    display: flex;
    justify-content: space-around;
}

.filtreDeplie > div{
    width: 30%;
}

fieldset{
    border: none;
}

fieldset > label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6% 0;
}

fieldset > label > p{
    margin: 2% 0 0 5%;
}

.titreFiltre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titreFiltre > hr{
    background-color: var(--primaryLight);
    width: 94px;
    height: 6px;
    border-radius: 50px;
    border: none;
    margin: 3% 7% 0 0;
}

input[type="checkbox"] {
    -webkit-appearance: none; /* Désactive le style natif pour Chrome/Safari */
    appearance: none; /* Désactive le style natif */
    width: 35px; /* Largeur */
    height: 35px; /* Hauteur */
    background-color: white; /* Couleur de fond par défaut */
    border: 3px solid black; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Pointeur interactif */
    position: relative; /* Nécessaire pour positionner le check */
  }

input[type="checkbox"]:checked::after {
    content: '✔'; /* Symbole de check */
    color: black; /* Couleur du symbole */
    font-size: 25px; /* Taille du symbole */
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width : 428px)
{
    main{
        padding: 10px;
    }
    #conteneurOffres>article{
        display: block;
    }
    #conteneurOffres .lienApercuOffre{
        margin: 10px;
    }

    main>h1{
        font-size: 2em;
        border-left: 10px solid var(--secondary);
        padding-left: 10px;
        margin-left: 5px;
    }
}