@import "../style.css";

main{
    padding: 0px;
}
main h1{
    border-left: 20px solid var(--secondary);
    padding-left: 20px;
    margin: 20px;
}

#conteneurOffres{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#conteneurOffres .lienApercuOffre{
    margin: 15px;
}

#conteneurOffres>article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#conteneurBarre{
    display: flex;
    justify-content: center;
    margin: 40px 15px;
}

#searchbar{
    width: 800px;
    height: 50px;
    
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 0px 55px;
}

#conteneurBarre label{
    position: relative;
}

#conteneurBarre label::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); 
    width: 35px; 
    height: 35px;
    background: url(../../icones/rechercherSVG.svg) no-repeat center;
    background-size: contain; 
}

#btnTriePrix{
    display: flex;
    background-color: white;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

#iconeTriePrix{
    width: 40px;
}

#iconeTriePrix1{
    width: 40px;
}

#iconeTriePrix2{
    width: 40px;
}

#txtBtnPrix{
    user-select: none;
}

#conteneurBouton{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

/* Filtrer */

.filtrerBarre{
    background-color: white;
    width: 340px;
    height: 50px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10%;
}

.filtreHead{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    cursor: pointer;
}

.filtreHead svg{
    width: 25.0px;
    height: 39.39px;
}

.filtreHead p{
    margin: 1% 9% 0 0;
}

.filtreGrand{
    background-color: white;
    width: 1170px;
    height: 450px;
    position: absolute;
    top: 45px;
    z-index: 3;
    border-radius: 0 48px 48px 48px;
}


/* Quand le filtre est déplié */

.filtreDeplie{
    padding: 5% 10%;
    display: flex;
    justify-content: space-around;
}

.filtreDeplie > div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


fieldset{
    border: none;
}

fieldset > label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6% 0;
}

fieldset > label > p{
    margin: 2% 0 0 5%;
}

.titreFiltre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titreFiltre > hr{
    background-color: var(--primaryLight);
    width: 94px;
    height: 6px;
    border-radius: 50px;
    border: none;
    margin: 3% 7% 0 0;
}

.filtreDeplie label input[type="checkbox"], .filtreTagDeplie label input[type="checkbox"] {
    -webkit-appearance: none; /* Désactive le style natif pour Chrome/Safari */
    appearance: none; /* Désactive le style natif */
    width: 35px; /* Largeur */
    height: 35px; /* Hauteur */
    background-color: white; /* Couleur de fond par défaut */
    border: 3px solid black; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Pointeur interactif */
    position: relative; /* Nécessaire pour positionner le check */
    flex: 0 0 auto; /* Empêche l'étirement et le rétrécissement */
}

.filtreDeplie label input[type="checkbox"]:checked::after, .filtreTagDeplie label input[type="checkbox"]:checked::after {
    content: '✔'; /* Symbole de check */
    color: black; /* Couleur du symbole */
    font-size: 25px; /* Taille du symbole */
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lieu {
    width: 95%; /* Prendre toute la largeur du parent */
    height: 40px; /* Hauteur de l'input */
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 6%;
}

#filtreDate{
    height: 100%;
}

.remplirDate > div{
    display: flex;
    flex-direction: column;
    height: 139px;
    justify-content: space-around;
    margin-bottom: 3%;
}

.remplirDate input[type="date"]{
    width: 288px;
    height: 84px;
    border: black solid 2px;
    border-radius: 20px;
    font-size: 26px;
    appearance: none; /* Masque l'icône native du calendrier */
    -webkit-appearance: none; /* Pour Safari */
    padding-left: 7%;
}

/* Masquer le calendrier natif dans les navigateurs basés sur Webkit */
.remplirDate input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; /* Masque l'icône et le calendrier */
}

.filtreDeplie input[type="number"] {
    all: unset;
    -webkit-appearance: none; /* Pour Safari et Chrome */
    -moz-appearance: textfield; /* Pour Firefox */
    appearance: none; /* Pour les autres navigateurs */
}

/* Enlever les flèches sur Firefox */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.datePerso{
    position: relative;
}

.prixFiltre{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.prixFiltre > div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prixFiltre > div > p{
    position: absolute;
    top: 55px;
    right: 40px;
    color: grey
}

.prixFiltre input[type="number"]{
    width: 84px;
    height: 75px;
    border: black solid 2px;
    border-radius: 20px;
    font-size: 26px;
    padding: 0 58px 0 15px;
}

.number-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 10px;
}

.number-input button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    height: 20px;
    display: flex;
    align-items: center;
}

.number-input button:focus {
    outline: none;
}

.datePerso svg{
    width: 68px;
    height: 68px;
    position: absolute;
    right: 55px;
    top: 7px;
}

.interEtoile{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.interEtoile > div{
    display: flex;
    flex-direction: column;
    position: relative;
}

.interEtoile > div > svg {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 60px;
    right: 25px;
    pointer-events: none;
}

.interEtoile select{
    width: 107px;
    height: 41px;
    border: black solid 2px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 5px;
    margin-top: 8%;
}


/* Filtrer par tags */

.filtreTag{
    background-color: white;
    width: 340px;
    height: 50px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10%;
}

.filtreTagHead{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    cursor: pointer;
}

.filtreTagHead svg{
    width: 25.0px;
    height: 39.39px;
}

.filtreTagHead p{
    margin: 1% 9% 0 0;
}

.filtreGrandTag{
    background-color: white;
    width: 750px;
    height: fit-content;
    position: absolute;
    top: 45px;
    z-index: 3;
    border-radius: 0 48px 48px 48px;
    padding: 5% 10%;
}

.changeBordure{
    border-radius: 48px 48px 0 0;
}

/* Quand le filtre des tags est déplié */

.filtreTagDeplie label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 0;
    width: 30%;
}

.filtreTagDeplie label > p{
    margin: 2% 0 0 5%;
}

.filtreTagDeplie > div{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width : 428px)
{
    main{
        padding: 10px;
    }

    #btnTriePrix{
        margin-bottom: 5px;
    }

    #conteneurBouton{
        display: flex;
        flex-direction: column;
    }

    .filtrerBarre{
        margin-left: 0;
    }

    #conteneurOffres>article{
        display: flex;
        flex-direction: column;
    }
    #conteneurOffres .lienApercuOffre{
        margin: 10px;
    }

    main>h1{
        font-size: 2em;
        border-left: 10px solid var(--secondary);
        padding-left: 10px;
        margin-left: 5px;
    }
}