@import "../style.css";

main{
    padding: 0px;
}
main h1{
    border-left: 20px solid var(--secondary);
    padding-left: 20px;
    margin: 20px;
}

#conteneurOffres{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#conteneurOffres .lienApercuOffre{
    margin: 30px;
}

#conteneurOffres>article{
    display: flex;
    flex-wrap: wrap;
}


#conteneurBarre{
    display: flex;
    justify-content: center;
    margin: 40px 15px;
}

#searchbar{
    width: 800px;
    height: 50px;
    
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 0px 55px;
}

#conteneurBarre label{
    position: relative;
}

#conteneurBarre label::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); 
    width: 35px; 
    height: 35px;
    background: url(../../icones/rechercherSVG.svg) no-repeat center;
    background-size: contain; 
}

#btnTriePrix{
    display: flex;
    background-color: white;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

#iconeTriePrix{
    width: 40px;
}

#txtBtnPrix{
    user-select: none;
}


@media screen and (max-width : 428px)
{
    main{
        padding: 10px;
    }
    #conteneurOffres>article{
        display: block;
    }
    #conteneurOffres .lienApercuOffre{
        margin: 10px;
    }

    main>h1{
        font-size: 2em;
        border-left: 10px solid var(--secondary);
        padding-left: 10px;
        margin-left: 5px;
    }
}